:root {
  --primary-red: hsl(0, 100%, 74%);
  --primary-green: hsl(154, 59%, 51%);
  --accent-blue: hsl(248, 32%, 49%);
  --neutral-darkBlue: hsl(249, 10%, 26%);
  --neutral-grayishBlue: hsl(246, 25%, 77%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: var(--primary-red);
  background-image: url("./images/bg-intro-mobile.png");
  display: flex;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 26px;
  min-height: 100vh;
  padding: 0 24px;
  text-align: center;
}

.site-header {
  color: white;
  margin: 4rem 0;
  font-weight: 700;
}

.site-header p {
  font-weight: 500;
}

.title {
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;
  margin: 1rem 0;
}

.container {
  border: none;
  border-radius: 10px;
  box-shadow: 0 8px 0 rgba(0, 0, 0, 0.14688);
  margin-bottom: 1.5rem;
}

.pricing {
  background: var(--accent-blue);
  color: white;
  font-size: 15px;
  padding: 18px 66px;
}

.form-wrapper {
  background: white;
  padding: 1.5rem;
}

.form {
  display: flex;
  flex-direction: column;
}

input {
  border: 1px solid #DEDEDE;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 1rem;
  padding: 15px 20px;
}

input:focus {
  outline-color: var(--accent-blue);
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.submitBtn {
  background: var(--primary-green);
  border: none;
  border-radius: 5px;
  box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.0908818);
  color: white;
  cursor: pointer;
  font-family: inherit;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 1rem;
  padding: 1rem 2.5rem;
}

.submitBtn:hover {
  background: hsla(154, 65%, 68%, 1);
}

.conditions {
  color: var(--neutral-grayishBlue);
  font-size: 11px;
  line-height: 21px;
  margin-inline: 1rem;
}

.accentText {
  color: var(--primary-red);
  font-weight: bold;
}

@media (min-width: 1024px) {
  body {
    align-items: center;
    background-image: url("./images/bg-intro-desktop.png");
    display: flex;
    flex-direction: row;
    padding: 0 8rem;
  }

  .site-header {
    text-align: initial;
    margin-right: 2rem;
    padding-right: 1rem;
    width: 100%;
  }

  .title {
    font-size: 50px;
    font-weight: bold;
    line-height: 55px;
  }

  .content {
    width: 100%;
  }
}